<div class="row-fluid proj-wrapper">

    <ul class= "nav nav-tabs" id = "tab">
        <li><a href = "#plain" class = "btn active" data-toggle = "tab">Plaining</a></li>
        <li><a href = "#scrumBoard" class = "btn" data-toggle = "tab">Scrum Board</a></li>
        <li><a href = "#statistics" class = "btn" data-toggle = "tab">Statistics</a></li>
        
    </ul>
    
</div>

<div class = "tab-content">

    <div class = "tab-pane active row-fluid" id = "plain">
           <!--
            <button class = "btn btn-mini" id = "add">Add</button>
           -->

            <div class = "span6 backlog-container">
                <span class = "header">Product Backlog</span>
                <ul class = "sections" id = "productBacklog">
                </ul>
            </div>

            <div class = "span6 backlog-container">
                <span class = "header">Sprint Backlog</span>
				<button class = "btn" id = "startSprint">Start</button>
                <ul class = "sections" id = "sprintBacklog">
                </ul>
            </div>
        
                
    </div>

    <div class = "tab-pane" id = "scrumBoard">Scrum Board</div>
    <div class = "tab-pane" id = "statistics">Requests Content</div>

</div>
