<body>
	<div class="table-wrapper">
	    <table id="items">
		    <tr class="head">
			    <th>#</th>
			    <th>Date</th>
			    <th>Random</th>
			</tr>						
		</table>
		<div id="add">Add</div>
	</div>
</body>
