    
<body>
	<header id="main" class="container">
		<div id="main-logo" class="">SSTT</div>
		<div id="header-rigth">
			<div id="user-name" class="">
				<span>Name Lastname</span>
				<span>
					<button class="btn"><i class="icon-wrench"></i>
					</button>
				</span>	
			</div>
			<div id="log-out" class="">
				<span>Log Out</span>
				<span>
					<button class="btn"><i class="icon-off"></i>
					</button>
				</span>
				
			</div>
		</div>
		
	</header>
	<section id="wrapper-content" class="container">
		<aside id="left-sidebar" class="span3">
				<div id="proj-info">
					<p>Story Info</p>
				</div>				
		</aside>
		<section id="main-wrapper" class="span8">		    
			<header id="proj-wrapper" class="row">
					<ul class="nav nav-tabs">
						<li id="planing" ><a href="#tab1" data-toggle="tab">Planing</a></li>
						<li id="scram-board" class="active"><a href="#tab2" data-toggle="tab">Scrum Board</a></li>
						<li id="statistics"><a href="#tab2" data-toggle="tab">Statistics</a></li>
					</ul>						
			</header>
			<div id="main-content-wrapper">
				<div class="row-fluid">
					<p class="title span3">To Do</p>		
					<p class="title span3">In Progress</p>
					<p class="title span3">To Verify</p>
					<p class="title span3">Done</p>
				</div>
				<div id="sections" class="row-fluid">
					<ul id="to-do" class="span3 sections connectedSortable">
									
					</ul>
					<ul id="in-progress" class="span3 sections connectedSortable">
						
					</ul>
					<ul id="to-verify" class="span3 sections connectedSortable">
						
					</ul>
					<ul id="done" class="span3 sections connectedSortable">
						
					</ul>
				</div>
			</div>				
		</section>
	</section>
	<div class="container">
		<div id="pm-settings" >
			<button class="btn">
				<i class=" icon-wrench"></i>
			</button>
			<button class="btn">
				<i class="icon-remove"></i>
			</button>
		</div>
	</div>			
</body>

