.clearer{
    clear:both;
}

#content-wrapper .block{    
	margin:20px 20px 0 0;
	float: left;
	width:200px;
	height:100px;
	background-color:#E7E7E7;
	border:1px solid #6D8DF6;
    border-radius: 7px;
    font-size: 20px;	
	text-align: center;
	line-height:270%;
}

#content-wrapper{
    position:absolute;
	left:50%;
	top:10%;
	width:680px;
	margin-left:-340px;
}