<div class="main-content-wrapper">
    <div class="row-fluid">
        <p class="title span3">To Do</p>        
        <p class="title span3">In Progress</p>
        <p class="title span3">To Verify</p>
        <p class="title span3">Done</p>
    </div>
    <div id="sections" class="row-fluid">
        <ul id="to-do" class="span3 sections connectedSortable items">
                        
        </ul>
        <ul id="in-progress" class="span3 sections connectedSortable items">
            
        </ul>
        <ul id="to-verify" class="span3 sections connectedSortable items">
            
        </ul>
        <ul id="done" class="span3 sections connectedSortable items">
            
        </ul>
    </div>
</div> 