<!DOCTYPE html>
<html>
	<head>	
		<meta charset = "utf-8">
		<title>Cats</title>    
		
		<script src = "res/jquery.js"></script>
		<script src = "res/underscore.js"></script>
		<script src = "res/backbone.js"></script>		

		<script src = "res/cats.js"></script>
	
		<link rel = "stylesheet" href = "res/cats.css">
		
		<script type = "text/html" id = "cat-tpl">			
			   This is a <%= color %> cat, his name <%= name %> :)			
		</script>
	</head>

	<body>
		<div id = "cats">
			Empty....
		</divs>
	</body>
</html>