@import "bootstrap";
@font-face {
    font-family: Journal;
    src: local("Journal"),
	url('Journal.ttf'); 
}
.clearer{clear:both;}

body{
    font-family:Journal;
	color:#4A4A4A;
	background: #c7b39b url('background1.jpg');
	background-size: 100%;
	
    
}
a{color:#4A4A4A;}
header#main{    
	margin-top: 20px; 
	height:50px;
	border: 1px solid #979797;
	border-radius: 15px;
	background-image: -moz-linear-gradient(left, #4682B4 0%, #E0FFFF 100%);
	background-image: -webkit-linear-gradient(left, #4682B4 0%, #E0FFFF 100%);
	font-weight:bold;
}
    #main-logo{
	    float:left;
		margin-left:70px;
	}
	#header-rigth{
	    float:right;
		margin-right:40px;
	}
	    #header-rigth div{
		    float:left;
		} 

    header#main div {
        text-align: center;
	    line-height: 165%;
	    font-size: 30px;
    }
	    #user-name{
		    margin-right:35px;
		}   
			header#main #user-name span{
				margin-left:6px;
			}
    header#main #log-out{
        margin-left:0;
		padding-left:25px;
		border-left: 1px solid #979797;
    }
        header#main #log-out span{
		    margin-left:10px;
		}		
#wrapper-content{    
	margin-top:60px;
	font-size: 22px;
}
    #left-sidebar {
        min-height:200px;
        width:24%;
		border: 1px solid #979797;
        font-size: 26px;
        box-shadow: 6px 5px 8px rgba(26, 15, 17, 0.437);
        background-color:#E7FAFF;		
    }
	    #pm-settings{
		    float:left;
			width:190px;
			margin-left:20px;
			padding:10px;
			border: 1px solid #979797;	
			border-radius:7px;
			background-color:#E7FAFF;
		}
		    #pm-settings .btn{
			    margin: 0 10px;
			}
			#left-sidebar p{
				margin-top:10px;
				font-weight:bold;
				text-align:center;			
			} 
    #main-wrapper{
        min-height:500px;
	    width:70%;
		border: 1px solid #979797;	    
        box-shadow: 6px 5px 8px rgba(26, 15, 17, 0.437);
        background-color:#E7FAFF;		
    }
        
		#proj-wrapper {
            margin-left:0;			
			background-image: -moz-linear-gradient(left, #4682B4 0%, #E0FFFF 100%);
			background-image: -webkit-linear-gradient(left, #4682B4 0%, #E0FFFF 100%);
        }
            #my-projects{
                margin-left:30px;
				height:50px;
	            font-size: 26px;
            }
			    #my-projects p{
				    font-weight:bold;
					line-height:180%;
				}
            #add-project .wrapper{
                margin:10px 0 0 300px;
            }
        #main-content-wrapper{
            padding-top:40px;
	        border-top: 1px solid #979797;
			font-size: 26px;
        }
		    #main-content-wrapper .sections {
			    min-height:400px;				
				border-right:1px solid #979797;
			}
				#main-content-wrapper .sections .story{
				    border: 1px solid #979797;    
				}
				#main-content-wrapper .title{
					text-align:center;
				}
            #main-content{
			    margin-left:30px;
			}
			    #main-content .project{
				    background-color:#DEDEDE;
					box-shadow: 6px 5px 8px rgba(26, 15, 17, 0.227);
				}
					#main-content .thumbnails > li {
						position:relative;
						margin-bottom: 40px;
						margin-left:53px;						
					}
                    #main-content .thumbnail{
                        border-radius:0;
					}					
					#main-content .active{
					    border: 2px solid #979797;
						 box-shadow: 5px 4px 16px rgba(26, 15, 20, 0.43);
					}
						#main-content div{
							min-height:130px;
							border: 1px solid #979797;
						}
							#main-content div p{
								position:absolute;
								bottom:0;
								padding: 0 0 10px 10px;
								text-align:center;
							}
			#proj-wrapper ul{
			    margin-bottom:0;
			}
				#proj-wrapper li{
					font-weight:bold;
					font-size: 26px;
				}
				    #proj-wrapper li a{
					    padding: 10px 72px;;
					}
			#main-content-wrapper #backlog, #new-sprint{
			    float:left;
				margin: 0 0 45px 30px;
				width:280px;
				height:280px;
				border: 1px solid #979797;
				border-radius: 7px;
				background-color:#FFFFFF;
			}
			#backlog header, #new-sprint header{
			    border-bottom: 1px solid #979797;
				background-color:#EBFFF2;
				border-radius:5px;
			}
			    #backlog section li{
				    width:80%;
					margin:23px;
					padding:5px;
					border: 1px solid #979797;
					border-radius: 7px;
					background-color:#D8E6EB;
				}
					#backlog header p, #new-sprint header p{
						float:left;
						margin-left:15px;
						line-height:150%;
						font-weight:bold;
					}
					#backlog header span, #new-sprint header span{
						float:right;
						margin:5px 20px 6px 0;
					}
					
					#backlog section p, #new-sprint section p{
						float:left;
						margin-left:10px;
					}
					#backlog section span, #new-sprint section span{
						float:right;
					}
					    #main-content-wrapper .icon-remove{
						   margin:9px 5px 0 0; 
						}
			