<!DOCTYPE html>
<html>
<head>
    <title>StikerBoard</title>
    <script type = "text/html" id = "stiker-tpl">
        <div class="delete">&#215;</div>
    </script>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
