html,body{
    height:100%;margin:0;
}

#time{
    position:absolute;
	padding:20px 30px;
    top:46%;
	left:46%;
	width: 125px;
	height: 30px;
	border: 2px solid red;
	border-radius:5px;
    background-color:#E0CBE8;
	font-size:28px;
	text-align:center;
    box-shadow: 4px 3px 14px rgba(67, 0, 0, 0.8);
}