.board {	
	margin:0 auto;
	width:600px;
	height:500px;
	margin-top:70px;
	border:3px solid #376B65;	
	background-color:#B5DED9;
}

.added{	
	width:100px;
	height:100px;
	border:2px solid #1E442F;
	background-color: #6A7E91;
}

.delete{
    float:right;
	width:15px;
	height:15px;
	background-color:#FF6B3E;
	text-align:center;
	line-height:90%;
	font-weight:900;
}