.clearer{
    clear:both;
}

#content-wrapper{
    position:absolute;
	left:50%;
}
#add-buttons{
    margin:0 0 0 -60px;
	width:120px;
}
#add-buttons .push{
    float:left;
	margin:5px;
	height:40px;
	width:40px;
	text-align:center;
	line-height:260%;
	font-weight:bold;	
	border: 1px solid #CB5FCB;
	border-radius:5px;
}
#table-wrapper{
    margin-top: 40px;
}
#table-wrapper td{ 	
	width:60px;
    height:30px;
	border: 1px solid #502550;
}
.element{
    background-color:red;
}
.left{
    background-color: #FFB5F8;
}
.right{
    background-color: #C3B5FF;
}